body {
  font-family: "Roboto", sans-serif;
}

.container {
  overflow-x: hidden;
}

.p-top {
  padding-top: 8vh;
}

.center-vertically {
  align-self: center;
}

@media only screen and (max-width: 992px) {
  .center {
    text-align: center;
  }
}

.full-screen {
  height: 100vh;
}

.rounded-btn {
  border-radius: 10px;
}

.border-btn {
  border: 1px solid white;
}

.border-btn:hover {
  border: 1px solid rgb(62, 125, 241);
}

.btn-pj {
  background-color: cornflowerblue;
}

.img-bg {
  background-image: url(img/background.jpg);
}

textarea {
  resize: none;
}

.icon-contact {
  font-size: 5vh;
}

.icon-contact:hover {
  font-size: 6vh;
}

.project-background {
  background: rgba(0, 0, 0, 0.87);
}

.text-red {
  color: rgb(245, 67, 67);
}

.text-grey {
  color: rgb(206, 202, 202);
}

.background-grey {
  background: rgb(240, 240, 239);
}

.py-custom {
  padding: 1% 0% 5% 0%;
}
